<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITMO_124_16_ADO.NET_IvanovVA_MyDBApp.Properties.Settings.ITMO_124_16_ADO_NET_IvanovVA_MyDBAppConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ITMO_124-16_ADO.NET_IvanovVA_MyDBApp.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ITMO_124_16_ADO.NET_IvanovVA_MyDBApp.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLIRDA11;Data Source=(LocalDB)\MSSQLLocalDB;Password=1111;User ID=Admin;Initial Catalog=&quot;C:\USERS\VLADI\ONEDRIVE\РАБОЧИЙ СТОЛ\ADO.NET\ITMO_124-16_ADO.NET_IVANOVVA_MYDBAPP\ITMO_124-16_ADO.NET_IVANOVVA_MYDBAPP.MDF&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>